{% extends 'menu.html.twig' %}
 {% block body %}
 <div class="container">
    <div class="mx-auto" style="width: 600px;">
  <h1 class="mt-4">API Rest con Symfony</h1>
    <p>La práctica consiste en hacer peticiones POST, PUT, DELETE, GET para interactuar con las películas que hay almacenados en la base de datos.</p>
    <p>Usa el menú superior para seleción que tipo petición quiere generar.</p>
    <p>Manel Ferrer y Javier Suarez</p>
</div>
</div>
 {% endblock %}